.header
{
    display: flex;
    justify-content: center;
}

.header_logo
 {
     width: 300px;
     text-align: center;
     margin: 0;
 }

.header_nav
 {
     display: flex;
     justify-content: center;
 }

.header_anchors
 {
     display: flex;
     font-size: 40px;
     list-style: none;
     padding-top: 65px;
     text-decoration: none;
 }

.header_product
 {
     padding-right: 50px;
 }

.product_picture
{
    display: flex;
    justify-content: center;
}

.img_product
{
    width: 500px;
}

.product
{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
    line-height: 40px;
}

.product ul
{
    list-style: none;
}

.confirmation
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer
{
    display: flex;
    background-color: #F2F2F2;
    margin-top: 50px;
    flex-wrap: wrap;
    margin-bottom: 40px;
    justify-content: space-evenly;
}

.footer_about
 {
     display: flex;
     flex-direction: column;
     padding-right: 50px;
 }

.footer_products
 {
     display: flex;
     flex-direction: column;
     padding-right: 50px;
 }

.footer_assistance
 {
     display: flex;
     flex-direction: column;
 }


.footer a
{
    text-decoration: none;
    line-height: 30px;
}
