.menu
{
 padding: ( $appPadding + 16px ) $appPadding;
 cursor: pointer;
 animation: itemAppear 3s;
 animation-timing-function: cubic-bezier(.5,1.58,.34,.82);
 animation-fill-mode: both;
 transform: scale(0);
 max-width: 400px;

 &__title
 {
  font-weight: normal;
  margin-top: 0;
  border-bottom: 3px $color-tertiary solid;
  padding-bottom: 5px;
  width: 10%;
 }

 &__text
 {
  justify-content: space-between;
  flex-direction: column;
  padding: 16px;
  width: 350px;
  min-width: 0;
 }

 &__text h4, p
 {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
 }

 &__text h4
 {
  font-size: 20px;
 }

 &__blocks
 {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;

  @media only screen and (max-width: 1300px) and (min-width: 440px)
  {
   align-items: center;
  }

  @media (min-width: 1300px)
  {
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
  }
 }

 &__price
 {
  font-weight: bold;
  align-items: flex-end;
  display: flex;
  padding-bottom: 15px;
  padding-right: 20px;
 }

 &__validate
 {
  background-color: $color-tertiary;
  width: 64px;
  height: 75px;
  border-radius: 0 10px 10px 0;
  display:flex;
  align-items:center;
  justify-content:center;
  transition-duration: 0.5s;
 }

 &__icons
 {
  height: 25px;
  width: 25px;
  background-color: white;
  display:flex;
  align-items:center;
  justify-content:center;
  border-radius: 100px;
  transform: rotate(180deg);
  transition-duration: 0.5s;
 }

 &__icon
 {
  color: $color-tertiary;
 }

 &__block
 {
  margin: 32px -15px 16px -15px;
  box-shadow: 4px 4px 8px lightgray;
  background-color: white;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  max-width: 450px;

   &:first-child
  {
   margin-top: 0;
  }

   &:last-child
  {
   margin-bottom: 0;
  }

  &:hover .menu__validate
  {
   max-width: 100%;
  }

  &:hover .menu__icons
  {
   transform: rotate(0);
  }
 }

.menu__validate
 {
   overflow: hidden;
   max-width: 0;
 }
}