.restaurants
{
background-color: #f6f6f6;
padding: ($appPadding + 16px) $appPadding;

  @media (min-width:1024px)
  {
    display: flex;
  }

&__title
{
  @media (min-width:1024px)
  {
    max-height: 29px;
    position: absolute;
    left: 46%;
    margin-top: 0;
  }
}
}

.restaurant
{
  background-color: #f6f6f6;
  padding: ($appPadding + 16px) $appPadding;
  border-radius: 60px 60px 0 0;
  position: relative;
  margin-top: -50px;

  @media only screen and (max-width: 1300px) and (min-width: 440px)
  {
    display: flex;
    flex-direction: column;
  }

&__title
  {
   display: flex;
   align-items: center;
   font-family: "Shrikhand", "cursive";
   font-size: 125%;
   justify-content: center;
  }

&__title h2
{
  margin-top: 0;
  margin-bottom: 0;
  padding-right: 5%;
}

&__btn
{
  height: 32px;
  width: 32px;
  border: transparent 0 solid;
  padding: 0;
}

&__like
{
  background-color: #f6f6f6;
  height: 100%;
  width: 100%;
  display:flex;
  align-items:center;
  justify-content:center;
  mix-blend-mode: lighten;
}

&__img
  {
   height: 320px;
   width: 100%;
   object-fit: cover;
  }

  .heart
  {
    display: none;
  }
}