body
{
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.container
{
  max-width: 435px;
  box-sizing: border-box;
  margin: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.158);

  @media (min-width:1024px)
  {
    max-width: 100%;
  }
  @media (min-width:440px)
  {
    max-width: 100%;
  }
}

.containers
{
  max-width: 435px;
  box-sizing: border-box;
  margin: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.158);

  @media (min-width:1024px)
  {
    max-width: 100%;
  }
  @media (min-width:440px)
  {
    max-width: 100%;
  }
}