.footer
{
  display: flex;
  background-color: #F2F2F2;
  margin-top: 50px;
  flex-wrap: wrap;
  margin-bottom: 40px;
  justify-content: center;

  &__about
  {
    display: flex;
    flex-direction: column;
    padding-right: 50px;
  }

  &__products
  {
    display: flex;
    flex-direction: column;
    padding-right: 50px;
  }

  &__assistance
  {
    display: flex;
    flex-direction: column;
  }
}

.footer a
{
  text-decoration: none;
  line-height: 30px;
}