.header
{

  &__logo
  {
    width: 300px;
    text-align: center;
    margin: 0;
  }

  &__nav
  {
    display: flex;
    justify-content: center;
  }

  &__anchors
  {
    display: flex;
    font-size: 25px;
    list-style: none;
  }

  &__anchors a
  {
    text-decoration: none;
  }

  &__product
  {
    padding-right: 50px;
  }

  &__ordered
  {
    padding-right: 50px;
  }

  &__basket
  {
    padding-right: 50px;
  }

  &__contact
  {

  }
}