.header
{
  display: flex;
  justify-content: center;

  &__logo
  {
    width: 300px;
    text-align: center;
    margin: 0;
  }

  &__nav
  {
    display: flex;
    justify-content: center;
  }

  &__anchors
  {
    display: flex;
    font-size: 40px;
    list-style: none;
    padding-top: 65px;
    text-decoration: none;
  }

  &__basket
  {
    padding-right: 50px;
  }

}